:root{
    --main-bg-color: #DADDD8;
    --main-header-color: #392F5A;
    --main-header-text-color: #FFF8F0;
    --main-visited-link-color: #FF8811;
    --header-font: 'Open Sans', sans-serif;
    --main-font: 'Graduate', cursive;
}

body{
    background-color: var(--main-bg-color);
    margin: 0px;
    font-family: var(--header-font);
}

header{
    background-color: var(--main-header-color);
    color: var(--main-header-text-color);
    font-family: var(--main-font);
}

h1, h2, h3, h4{
    padding: 10px;
    margin: 0px;
    font-family: 'Graduate', cursive;
}

header ul{
    list-style-type: none;
    padding-bottom: 10px;
}

header li{
    display: inline;
    margin-right: 10px;
}

header a{
    text-decoration: none;
    color: var(--main-header-text-color);
}

a:visited{
    color: var(--main-visited-link-color);
}

main{
    display: flex;
    overflow: hidden;
    justify-content: space-evenly;
}

article{
    width: 60%;
}

aside{
    width: 30%;
}

footer{
    margin: 20px;
}